<div class="header_search_form"> 
<form class="search" action="/search">
    
    <input type="hidden" name="type" value="product" />
    <span class="sticon-search" id="go"></span>
    
    <input type="text" name="q" class="search_box bluesearch" placeholder="Search" value="{{ search.terms }}"  />
  <input type="submit" class="searchsub" style="display:none"/>
  </form>
</div>
  
    