{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-e5f6d2af"></div>
<section class="page-content">
  <div class="page-wrapper">
    <div class="container c_pad0">
      <div class="page-inner">
        <div id="page">
          <div class="details">
            {% for block in section.blocks %}
              {% if block.type == 'image' %}
                {% if block.settings.line_start %}
                <div class="row {% unless block.settings.padding %}no-gutters{% endunless %}">
                {% endif %}

                <div class="{{ block.settings.width }} col-xs-12 {% if block.settings.imagem != nil %}hidden-xs{% endif %}">
                  <img src="{{ block.settings.image | img_url : 'master' }}" class="img-responsive" alt="" >
                </div>
                {% if block.settings.imagem != nil %}
                <div class="col-xs-12 d-block visible-xs {% unless block.settings.padding_bottom_m %}m_pad_bottom_none{% endunless %}">
                  <img src="{{ block.settings.imagem | img_url : 'master' }}" class="img-responsive" alt="" >
                </div>
                {% endif %}

                {% if block.settings.line_end %}
                </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Gallery",
    "max_blocks": 20,
    "class": "sentaler-x-gallery-section",
    "settings": [
    ],
 	  "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
    		{
    			"type":"image_picker",
    			"id":"image",
    			"label":"Image"
    		},
    		{
    			"type":"image_picker",
    			"id":"imagem",
    			"label":"Mobile Image"
    		},
        {
          "type": "select",
          "id": "width",
          "label": "width",
          "default": "col-md-6 col-sm-6",
          "options": [
            {
              "value": "col-md-5 col-sm-5",
              "label": "40%"
            },
            {
              "value": "col-md-6 col-sm-6",
              "label": "50%"
            },
            {
              "value": "col-md-7 col-sm-7",
              "label": "60%"
            },
            {
              "value": "col-md-12 col-sm-12",
              "label": "100%"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "padding",
          "label": "Has Padding",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "padding_bottom_m",
          "label": "Has Bottom padding on Mobile",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "line_start",
          "label": "Start of Line",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "line_end",
          "label": "End of Line",
          "default": false
        },
    		{
    			"type":"url",
    			"id":"link",
    			"label":"Link"
    		}
    		]
      }
    ],
  "presets": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
