{% section 'page-philosophy' %}

{% section 'philosophy-image-text-overlay-a' %}

<div class="featured-links">
  {% section 'philosophy-image-text-overlay-b' %}

  {% section 'philosophy-featured-links' %}
</div>
